<!DOCTYPE html>
<html lang="en">

<head>
  <!-- headerlinks -->
    {{>headerlinks}}
    <title>Document</title>
</head>

<body>
    <!-- navbar -->
    {{>navbar}}

    <div class="page-wrap d-flex flex-row justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center">
                <span class="display-1" id="404">404</span>
                <div class="mb-4 lead" id="err">The page you are looking for was not found.</div>
                <a href="/" class="btn btn-link back">Back to Home</a>
            </div>
        </div>
    </div>
    </div>
    <!-- footer -->
   {{>footer}}
</body>

</html>